div(class="section" id="about")
  div(class="container")
    div(class="card" data-aos="fade-up" data-aos-offset="10")
      div(class="row")
        div(class="col-lg-6 col-md-12")
          div(class="card-body")
            div(class="h4 mt-0 title") About
            p Hello! I am Hassam. Software Engineer, iOS Developer having two years of professional experience mainly in Swift. Currently working for a Multinational ride hailing company. 
            p Always trying to improve myself and trying to become a good developer. Looking for a healthier environment and great learning opportunities.
        div(class="col-lg-6 col-md-12")
          div(class="card-body")
            div(class="h4 mt-0 title") Basic Information
            div(class="row")
            div(class="row mt-3")
              div(class="col-sm-4")
                strong(class="text-uppercase") Email:
              div(class="col-sm-8") syedhassamali05@gmail.com
            div(class="row mt-3")
              div(class="col-sm-4")
                strong(class="text-uppercase") Phone:
              div(class="col-sm-8") +923237428031
            div(class="row mt-3")
              div(class="col-sm-4")
                strong(class="text-uppercase") Location:
              div(class="col-sm-8") Lahore, Pakistan
            div(class="row mt-3")
              div(class="col-sm-4")
                strong(class="text-uppercase") Language:
              div(class="col-sm-8") English, Urdu, Punjabi
      
    
  
