div(class="section")
  div(class="container cc-education")
    div(class="h4 text-center mb-4 title") Education
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-education-header")
            p 2016 - 2020
            div(class="h5") Bachelor's Degree
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") BS Software Engineering
            p(class="category") Punjab University College of Information Technology
            span Courses: 
            ul(style="list-style-type:none")
              li Programming fundamentals, OOP, data structures, Web development, Software testing, Database Managment, Computer vision, Android development, Analysis of algorithms, Computer Networks, Assembly language.
            span CGPA: 3.51 / 4.00
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-education-header")
            p 2014 - 2016
            div(class="h5") Intermediate
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") ICS (Physics)
            p(class="category") Punjab College Gujranwala
            span Courses: 
            ul(style="list-style-type:none")
              li Mathematics (Algebra and Linera Equations, Calculas), Physics (Classical mechanics, Thermodynamics, Electromagnetism, Nuclear physics) and Computer (Basic Computer studies and C language Programming)
            span Percentage: 81.6%