div(class="section" id="experience")
  div(class="container cc-experience")
    div(class="h4 text-center mb-4 title") Work Experience
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p October 2021 - Present
            div(class="h5") Jeeny Tech, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") IOS Developer
            p Working on existing projects. There are two projects, driver app and passenger app. Adding new features and looking into bugs of live app. Worked with stakeholders to find collaborative ways to deliver business value for parties.
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p July 2020 - September 2021
            div(class="h5") Pentaloop, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") Junior IOS Developer
            p Built 3 Apps and worked on one existing app. Worked on VPN. Implemented Ads and mediations
    