div(class="section" id="experience")
  div(class="container cc-experience")
    div(class="h4 text-center mb-4 title") Work Experience
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p October 2021 - Present
            div(class="h5") Jeeny Tech, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") IOS Developer
            p Jeeny is a startup of Rocket Internet. It is a ride-hailing company and is available in Jordan and Saudi Arabia. 
            p There are two major projects, the Passenger and Driver app. My responsibility is to look at the current features and add new features to both projects. 
            p Working with stakeholders to find collaborative ways to deliver business value for parties.
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p July 2020 - September 2021
            div(class="h5") Pentaloop, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body")
            div(class="h5") Junior IOS Developer
            p It was a services based company. I worked on multiple projects here. Maininly worked on VPN, AdMob, Mediation, in-app purchases, CoreBluetooth.