footer(class="footer")
  div(class="container text-center")
    a(class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/syed-hassam/" target="_blank")
      i(class="fa fa-linkedin fa-2x " aria-hidden="true")
    a(class="cc-github btn btn-link" href="https://github.com/hassamali05" target="_blank")
      i(class="fa fa-github fa-2x " aria-hidden="true")
    a(class="cc-twitter btn btn-link " href="https://twitter.com/hassamali05" target="_blank")
      i(class="fa fa-twitter fa-2x " aria-hidden="true")
    a(class="cc-mail btn btn-link" href="mailto:syedhassamali05@gmail.com" target="_blank")
      i(class="fa fa-envelope fa-2x" aria-hidden="true")
  div(class="h4 title text-center") Hassam Ali Shah 
  div(class="text-center text-muted")
    p Copyright &copy; #{new Date().getFullYear()} All rights reserved