div
  div(class="profile-page")
    div(class="wrapper")
      div(class="page-header page-header-small" filter-color="green")
        div(class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg')")
        div(class="container")
          div(class="content-center")
            div(class="cc-profile-image")
              a(href="#")
              img(src="images/anthony.jpg" alt="Image")
            div(class="h2 title") Hassam Ali Shah
            p(class="category text-white") SOFTWARE ENGINEER, IOS DEVELOPER, SWIFT DEVELOPER
            a(class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor") Hire Me
            a(class="btn btn-primary" href="/cv" data-aos="zoom-in" data-aos-anchor="data-aos-anchor") Download CV        
        div(class="section")
          div(class="container")
            div(class="button-container")
              a(class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Connect on LinkedIn")
                i(class="fa fa-linkedin")
              a(class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Connect on Github")
                i(class="fa fa-github")
              a(class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Connect on Twitter")
                i(class="fa fa-twitter")
              a(class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Connect on Skype")
                i(class="fa fa-skype")
              