doctype html
html
  head
    include ./head.jade
  body(id="top")
    include ./header.jade
    div(class="page-content")
      div
        include ./hero.jade
        include ./about.jade
        include ./skills.jade
        include ./contact.jade
    include ./footer.jade
    include ./vendorLinks.jade
    
    

  


