doctype html
html
  head
    include ./head.jade
  body(id="top")
    include ./header.jade
    div(class="page-content")
      include ./hero.jade
      include ./about.jade
      include ./skills.jade
      include ./experience.jade
      include ./education.jade
      include ./portfolio.html
      include ./contact.jade
    include ./footer.jade
    include ./vendorLinks.jade
    
    

  


