div(class="portfolio section container" id="portfolio" style="text-align: center")
  div(class="h4 text-center mb-4 title") Portfolio 
  div(class="row")
    include ./projects/project1.jade
    include ./projects/project2.jade       
    include ./projects/project3.jade       
  div(class="row")      
    include ./projects/project4.jade       
    include ./projects/project5.jade       

     