div(class="portfolio section container" style="text-align: center")
  div(class="h4 text-center mb-4 title") Portfolio 
  div(class="row")
    div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/img1.png" alt="Card image cap")
      div(class="overlay")
        a(href="link.com" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 1 Top Driver
            p ioS Development 
    div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/img1.png" alt="Card image cap")
      div(class="overlay")
        a(href="link.com" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 1 Top Driver
            p ioS Development 
    div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/img1.png" alt="Card image cap")
      div(class="overlay")
        a(href="link.com" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 1 Top Driver
            p ioS Development        
  div(class="row")
    div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/img1.png" alt="Card image cap")
      div(class="overlay")
        a(href="link.com" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 1 Top Driver
            p ioS Development 
    div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/img1.png" alt="Card image cap")
      div(class="overlay")
        a(href="link.com" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 1 Top Driver
            p ioS Development       
      
    
  
  
