div(class="section" id="skill") 
  div(class="container") 
    div(class="h4 text-center mb-4 title") Professional Skills
    div(class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom") 
      div(class="card-body") 
        div(class="row") 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") SWIFT
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;") 
                span(class="progress-value") 90% 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") OBJECTIVE-C
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;") 
                span(class="progress-value") 60%
        div(class="row") 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") AGILE DEVELOPMENT
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;") 
                span(class="progress-value") 85% 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") API IMPLEMENTATION
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;") 
                span(class="progress-value") 85%
        div(class="row") 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") ADS & MEDIATIONS
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;") 
                span(class="progress-value") 75% 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") Storage (CoreData, UserDefaults, Files)
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;") 
                span(class="progress-value") 85%
        div(class="row") 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") XCODE
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;") 
                span(class="progress-value") 90% 
          div(class="col-md-6") 
            div(class="progress-container progress-primary") 
              span(class="progress-badge") GIT
              div(class="progress") 
                div(class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;") 
                span(class="progress-value") 85%