div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/projects/img1.png" alt="project image")
      div(data-toggle="modal" data-target="#project1" class="overlay")
        a(style="color:white" data-toggle="modal" data-target="#project1" class="icon")
          i(class="fa fa-plus")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h2(style="margin:auto !important;") 0 Top Driver
            p ioS Development 

div(class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true")
  div(style="max-width: 95%; max-height: 90vh;" class="modal-dialog" role="document")
    div(class="modal-content")
      div(style="margin: 0;" class="modal-header")
        h2(class="modal-title" id="project1Label") CONECTACTE
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")&times;
      div(class="modal-body")
        p Purchase, sale or barter of goods and services, Employ yourself or self-employ. Purchase, sale or barter of goods
        div
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
          img(src="images/projects/img3.jpg" alt="project image")
        p Purchase, sale or barter of goods and services, Employ yourself or self-employ. Purchase, sale or barter of goods and services, Employ yourself or self-employ. Purchase, sale or barter of goods and services, Employ yourself or self-employ.Purchase, sale or barter of goods and services, Employ yourself or self-employ.Purchase, sale or barter of goods and services, Employ yourself or self-employ.Purchase, sale or barter of goods and services, Employ yourself or self-employ.
        p 
          strong Date: December 2019
        p 
          strong Client: NewlandApps
        p 
          strong Category: iOS Development
      div(class="modal-footer")
        button(type="button" class="btn btn-primary" data-dismiss="modal") Close project